<!-- Modal -->
<div class="modal fade" id="exampleModalexport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Exportar Base de Datos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Se va a descargar todo el contenido de la base de datos en formato xls (Excel).
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-primary" href="{% url 'exportar_bbdd' %}">Descargar</a>
            </div>
        </div>
    </div>
  </div>
  
  