{% extends "base.html" %}
    
{% block title %}Actualizar Datos{% endblock %}

{% block content %}
<a style="margin-left: 5%;" href="javascript:history.back()" class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i>
</a>
<div class="form-contenedor">
    <h1>Editar Alumno</h1>
    <form method="post" class="form_alumno">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary btn-form btn-save" type="submit">Guardar</button>
    </form>
</div>
<br><br>
<center><a href="javascript:history.back()" class="btn btn-secondary">
    <i class="bi bi-arrow-left"></i> Volver
</a></center>

{% endblock %}